@use "../../styles/variables" as *;

.nav-bar {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid $color-primary;
  padding-bottom: 10px;

  &__link {
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    color: $color-secondary;
  }
}
